<!DOCTYPE html>
<html>
	<head>
		<title>Frendgroop pinned messages archive | Table of contents</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/toc.css">
	</head>
	<body>
		<h1>Frendgroop Slack Team Pinned Messages Archive</h1>
		<h2>"Because 100 pinned messages per channel is a stupid limit"</h2>
		<p>Click on the name of a channel to see all pinned messages for that channel.
		 	In order for messages to be archived here, @pinbot must be a member of the channel.</p>
		{{ content }} 
	</body>
</html>